---
import AstroIcon from "../badges/AstroIcon.astro";
import Blender from "../badges/Blender.astro";
import Git from "../badges/Git.astro";
import Github from "../badges/Github.astro";
import Html from "../badges/Html.astro";
import React from "../badges/React.astro";
import Tailwind from "../badges/Tailwind.astro";
import Typescript from "../badges/Typescript.astro";
import Vim from "../badges/Vim.astro";

const badges = [
    Typescript,
    React,
    Html,
    Tailwind,
    Git,
    Github,
    AstroIcon,
    Blender,
    Vim,
];

const colorOverrides = new Map();
---

<div class="mx-auto flex w-full max-w-2xl flex-wrap justify-center gap-5">
    <div class="h-[3rem] w-[3rem]" transition:name="badge-typescript">
        <Typescript />
    </div>
</div>
