---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Uh oh">
    <div
        class="flex h-full w-full grow flex-col items-center justify-center gap-1"
    >
        <div class="text-4xl">well, shoot.</div>
        <!-- <div>ლ(ಠ_ಠ ლ)</div> -->
        <div>(｡•́︿•̀｡)</div>
        <div class="text-2xl">it seems something's gone wrong</div>
        <a href="/" class="underline hover:text-sky-300">Back to Home</a>
    </div>
</Layout>
