---
import TextPage from "../layouts/TextPage.astro";
import { slide } from "astro:transitions";
import "../assets/styles/about.module.css";
import { getEntry } from "astro:content";

const page = await getEntry("mainPages", "about");
const { data } = page;
const { Content } = await page.render();
---

<TextPage title="About">
    <h1>
        <span transition:name="about-title" class="text-center">
            {data.title}
        </span>
    </h1>

    <div class="h-full w-full" transition:animate={slide({ duration: 500 })}>
        <Content />
    </div>
</TextPage>
