---
import TextPage from "../layouts/TextPage.astro";
import * as page from "../content/about.md";
import { slide } from "astro:transitions";
const { Content, frontmatter } = page;
---

<TextPage title="About">
    <h1>
        <span transition:name="about-title" class="text-center">
            {frontmatter.title}
        </span>
    </h1>

    <div class="h-full w-full" transition:animate={slide({ duration: 500 })}>
        <Content />
    </div>
</TextPage>
