---
import Layout from "../layouts/Layout.astro";
import { slide } from "astro:transitions";
import "../assets/styles/about.module.css";
---

<Layout title="Blog">
    <div class:list={["mx-auto max-w-2xl px-3 sm:w-5/6"]}>
        <article
            class="prose prose-invert lg:prose-lg prose-headings:mt-[3rem] prose-a:text-gray-400 hover:prose-a:text-sky-300"
        >
            <h1>
                <span transition:name="blog-title" class="text-center"
                    >Blog</span
                >
            </h1>

            <div
                class="h-full w-full"
                transition:animate={slide({ duration: 500 })}
            >
                {"Coming soon <3"}
                <p>
                    <a href="/posts/mpas-are-cool-again">MPAs are Cool Again</a>
                </p>
            </div>
        </article>
    </div>
</Layout>
