---
import Layout from "../layouts/Layout.astro";
import { slide } from "astro:transitions";
import Content from "../components/Content.astro";
---

<Layout title="Blog">
    <Content>
        <article
            class="prose prose-invert lg:prose-lg prose-headings:mt-[3rem]"
        >
            <h1>
                <span transition:name="blog-title" class="text-center"
                    >Blog</span
                >
            </h1>

            <div
                class="h-full w-full"
                transition:animate={slide({ duration: 500 })}
            >
                {"Coming soon <3"}
            </div>
        </article>
    </Content>
</Layout>
