---
import TextPage from "../layouts/TextPage.astro";
import * as page from "../content/code.md";
import { slide } from "astro:transitions";
const { Content, frontmatter } = page;
---

<TextPage title={frontmatter.title}>
    <h1>
        <span transition:name="code-title">{frontmatter.title}</span>
    </h1>

    <div class="h-full w-full" transition:animate={slide({ duration: 500 })}>
        <Content />
    </div>
</TextPage>
