---
import TextPage from "../layouts/TextPage.astro";
import { slide } from "astro:transitions";
import "../assets/styles/about.module.css";
import { getEntry } from "astro:content";

const page = await getEntry("mainPages", "experience");
const { data } = page;
const { Content } = await page.render();
---

<TextPage title={data.title}>
    <h1>
        <span transition:name="experience-title">{data.title}</span>
    </h1>
    <p class="text-sm font-light italic">
        Alternatively, <a href="/resume.pdf" target="_blank">view</a> or <a
            href="/resume.pdf"
            download>download</a
        > my full resume as a pdf.
    </p>

    <div class="h-full w-full" transition:animate={slide({ duration: 500 })}>
        <Content />
    </div>
</TextPage>
