---
import TextPage from "../layouts/TextPage.astro";
import * as page from "../content/experience.md";
import { slide } from "astro:transitions";
import "../assets/styles/about.module.css";
const { Content, frontmatter } = page;
---

<TextPage title={frontmatter.title} path="/experience">
    <h1>
        <span transition:name="experience-title">{frontmatter.title}</span>
    </h1>

    <div class="h-full w-full" transition:animate={slide({ duration: 500 })}>
        <Content />
    </div>
</TextPage>
