---
import Layout from "../layouts/Layout.astro";
import EnterOnScroll from "../components/EnterOnScroll";
import Content from "../components/Content.astro";
import Card from "../components/Card.astro";
import TransitionCard from "../components/TransitionCard.astro";
import { Image } from "astro:assets";
import squid from "../assets/images/jonathan-diemel-3CxVpFO739c-unsplash.jpg";
import pinkNick from "../assets/images/Nick_Pink_895aa1f259.jpeg";
---

<Layout title="Home">
    <main>
        <section class="w-screen relative">
            <Image
                src={squid}
                alt="Squid Image"
                class="object-cover opacity-50 max-h-[20rem] w-full h-full"
            />
            <div
                class="absolute top-0 left-0 flex justify-around items-center w-full h-full"
            >
                <div class="text-4xl font-bold">
                    <div class="pl-[3rem]">Nick</div>
                    <div class="pl-[4rem]">Allen</div>
                    <div class="text-2xl font-light text-gray-300 pt-5">
                        Software Developer
                    </div>
                </div>
                <div class="sm:block hidden">
                    <Image
                        src={pinkNick}
                        alt="My picture"
                        class="h-[15rem] w-[15rem] rounded-full object-cover"
                    />
                </div>
            </div>
        </section>
        <!-- <div -->
        <!--     class="w-full h-[1rem] -mt-[1rem] bg-gradient-to-t from-[#13151a] to-transparent backdrop-blur-lg" -->
        <!-- > -->
        <!-- </div> -->

        <Content>
            <div
                class="grid gap-3 -mt-5 w-full h-full grid-cols-1 sm:grid-cols-2"
            >
                <TransitionCard
                    href="/about"
                    title="About Me"
                    body="¯\\_(ツ)_/¯"
                    transitionName="about-title"
                />
                <TransitionCard
                    href="/code"
                    title="Code"
                    body="Check out what I've worked on!"
                    transitionName="code-title"
                />
                <TransitionCard
                    href="/experience"
                    title="Experience"
                    body="My previous work experience"
                    transitionName="experience-title"
                />
                <TransitionCard
                    href="/articles"
                    title="Articles"
                    body="Read some stuff, or look at the pictures"
                    transitionName="articles-title"
                />
            </div>
        </Content>

        <!-- <EnterOnScroll -->
        <!--     client:visible -->
        <!--     text="Here's a bit about me. I love vim <3" -->
        <!-- /> -->
    </main>
</Layout>
