---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
import TransitionCard from "../components/TransitionCard.astro";
import { Image } from "astro:assets";
import squid from "../assets/images/jonathan-diemel-3CxVpFO739c-unsplash.jpg";
import pinkNick from "../assets/images/Nick_Pink_895aa1f259.jpeg";
import Name from "../components/animatedSvgs/Name.astro";
import ContactMe from "../components/ContactMe.astro";
import SkillList from "../components/skills/SkillList.astro";
import { allBadges } from "../components/skills/skillList.data.astro";
---

<Layout title="Home">
    <main>
        <section class="relative w-screen">
            <Image
                src={squid}
                alt="Squid Image"
                class="h-full max-h-[20rem] w-full object-cover"
                loading="eager"
                height={360}
                quality="high"
            />
            <div
                class="absolute left-0 top-0 flex h-full w-full items-center justify-around"
            >
                <div class="text-4xl font-bold">
                    <Name />
                    <div class="pt-5 text-2xl font-light text-skin-muted">
                        Software Developer
                    </div>
                </div>
                <div class="hidden sm:block">
                    <Image
                        src={pinkNick}
                        alt="My picture"
                        class="h-[15rem] w-[15rem] rounded-full object-cover"
                    />
                </div>
            </div>
        </section>

        <section
            class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-800 to-gray-950 py-5"
        >
            <Content>
                <ul class="grid h-full w-full grid-cols-1 gap-3 sm:grid-cols-2">
                    <TransitionCard
                        href="/about"
                        title="About Me"
                        body="¯\\_(ツ)_/¯"
                        transitionName="about-title"
                    />
                    <TransitionCard
                        href="/code"
                        title="Code"
                        body="Check out what I've worked on!"
                        transitionName="code-title"
                    />
                    <TransitionCard
                        href="/experience"
                        title="Experience"
                        body="My previous work experience"
                        transitionName="experience-title"
                    />
                    <TransitionCard
                        href="/blog"
                        title="Blog"
                        body="Read some stuff, or look at the pictures"
                        transitionName="blog-title"
                    />
                </ul>
            </Content>
        </section>

        <section
            class="flex w-full flex-col justify-center gap-10 bg-pink-800 bg-gradient-to-bl from-black to-purple-950 py-10 align-middle"
        >
            <div class="mx-auto">
                <h1 class="text-4xl font-bold">
                    <a href="/skills/all" draggable="false">
                        <span transition:name="skills-title">Skills</span>
                    </a>
                </h1>
            </div>
            <div
                class="mx-auto flex w-full max-w-2xl flex-wrap justify-center gap-5"
            >
                <SkillList badges={allBadges} />
            </div>
        </section>

        <ContactMe />
    </main>
</Layout>
