<footer
    class="flex h-[3rem] w-full items-center justify-center gap-1 bg-slate-800 text-gray-400 xs:gap-7"
    transition:name="footer"
>
    <a
        href="https://github.com/blingusblongus"
        class="duration-400 transition-colors hover:text-sky-300"
    >
        Github
    </a>
    <span>|</span>
    <a
        href="mailto:nickallen1612@gmail.com"
        class="duration-400 transition-colors hover:text-sky-300"
    >
        nickallen1612@gmail.com
    </a>
    <span>|</span>
    <a
        href="https://www.linkedin.com/in/nickallen1612/"
        class="hover:text-sky-300"
    >
        LinkedIn
    </a>
</footer>
