<footer
    class="flex h-[3rem] w-full items-center justify-center gap-1 bg-skin-base text-skin-muted xs:gap-7"
>
    <a
        href="https://github.com/blingusblongus"
        class="duration-400 transition-colors hover:text-skin-link-active"
    >
        Github
    </a>
    <span>|</span>
    <a
        href="mailto:nickallen1612@gmail.com"
        class="duration-400 transition-colors hover:text-skin-link-active"
    >
        nickallen1612@gmail.com
    </a>
    <span>|</span>
    <a
        href="https://www.linkedin.com/in/nickallen1612/"
        class="hover:text-skin-link-active"
    >
        LinkedIn
    </a>
</footer>
