---
import AfterEffects from "./icons/badges/astro/AfterEffects.astro";
import AndroidStudio from "./icons/badges/astro/AndroidStudio.astro";
import Angularjs from "./icons/badges/astro/Angularjs.astro";
import AstroIcon from "./icons/badges/astro/AstroIcon.astro";
import Blender from "./icons/badges/astro/Blender.astro";
import CSharp from "./icons/badges/astro/CSharp.astro";
import Css from "./icons/badges/astro/Css.astro";
import Dotnet from "./icons/badges/astro/Dotnet.astro";
import Express from "./icons/badges/astro/Express.astro";
import Figma from "./icons/badges/astro/Figma.astro";
import Git from "./icons/badges/astro/Git.astro";
import Github from "./icons/badges/astro/Github.astro";
import Html from "./icons/badges/astro/Html.astro";
import Javascript from "./icons/badges/astro/Javascript.astro";
import Jest from "./icons/badges/astro/Jest.astro";
import Lua from "./icons/badges/astro/Lua.astro";
import Nextjs from "./icons/badges/astro/Nextjs.astro";
import Nodejs from "./icons/badges/astro/Nodejs.astro";
import PostgreSQL from "./icons/badges/astro/PostgreSQL.astro";
import Python from "./icons/badges/astro/Python.astro";
import React from "./icons/badges/astro/React.astro";
import Redux from "./icons/badges/astro/Redux.astro";
import Rust from "./icons/badges/astro/Rust.astro";
import Sass from "./icons/badges/astro/Sass.astro";
import Tailwind from "./icons/badges/astro/Tailwind.astro";
import Terraform from "./icons/badges/astro/Terraform.astro";
import Threejs from "./icons/badges/astro/Threejs.astro";
import Typescript from "./icons/badges/astro/Typescript.astro";
import Vim from "./icons/badges/astro/Vim.astro";

const badges = [
    Typescript,
    Javascript,
    React,
    Redux,
    Nextjs,
    Html,
    Css,
    Tailwind,
    Sass,
    Git,
    Github,
    Nodejs,
    Express,
    PostgreSQL,
    CSharp,
    Dotnet,
    Terraform,
    AndroidStudio,
    Angularjs,
    AstroIcon,
    Figma,
    Jest,
    Lua,
    Python,
    Rust,
    Threejs,
    Blender,
    AfterEffects,
    Vim,
];

const colorOverrides = new Map();
colorOverrides.set(Lua, "skyblue");
---

<section
    class="flex w-full flex-col justify-center gap-10 bg-pink-800 bg-gradient-to-bl from-black to-purple-950 py-10 align-middle"
>
    <div class="mx-auto">
        <h1 class="text-4xl font-bold">Skills</h1>
    </div>
    <div class="mx-auto flex w-full max-w-2xl flex-wrap justify-center gap-5">
        {
            badges.map((Badge) => {
                const override = colorOverrides.get(Badge);

                return (
                    <div class="w-full max-w-[4rem]">
                        {override ? <Badge fill={override} /> : <Badge />}
                    </div>
                );
            })
        }
    </div>
</section>
