@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: 255, 255, 255;
        --color-text-muted: 209, 213, 219;
        --color-text-link: 156, 163, 175;
        --color-text-link-active: 125, 211, 252;
        --color-bg-base: 30, 41, 59;
        --color-bg-muted: 10, 10, 10;
        /* --color-text-muted: 1, 1, 1; */
        /* --color-text-inverted: 79, 70, 245; */
        /* --color-fill: 68, 56, 202; */
        /* --color-button-accent: 255, 255, 255; */
        /* --color-button-accent-hover: 238, 242, 255; */
    }

    .theme-neon {
        --color-text-base: 150, 255, 150;
        --color-text-muted: 255, 150, 150;
        --color-bg-base: 75, 127, 75;
        --color-bg-muted: 10, 10, 10;
    }

    .theme-pink-blue {
        --color-text-base: 242, 251, 253;
        --color-text-muted: 209, 213, 219;
        --color-bg-base: 122, 0, 104;
        --color-bg-muted: 100, 29, 18;
    }
}

/* colors: { */
/*  'text': 'rgb(242, 251, 253)', */
/*  'background': 'rgb(122, 0, 104)', */
/*  'primary': 'rgb(100, 29, 18)', */
/*  'secondary': 'rgb(170, 232, 240)', */
/*  'accent': 'rgb(220, 77, 56)', */
/* }, */
