---
const { fullheight = false, title = "Skills" } = Astro.props;
---

<section
    class="flex w-full grow flex-col justify-center gap-10 bg-pink-800 bg-gradient-to-bl from-black to-purple-950 py-10 align-middle"
>
    <div class="mx-auto">
        <h1 class="text-4xl font-bold" transition:name="skills-title">
            {title}
        </h1>
    </div>

    <slot />
</section>
