---
interface Props {
    path: string;
}
const { path = "/all" } = Astro.props;

const pathPrefix = "/skills";
const sorts = [
    {
        label: "All",
        path: "/all",
    },
    {
        label: "Love/Like",
        path: "/lovelikemeh",
    },
    {
        label: "Pro/Hobby",
        path: "/prohobby",
    },
];
---

<section
    class="to-skin-primary flex w-full grow flex-col justify-center gap-10 bg-gradient-to-bl from-black py-10 align-middle"
>
    <div class="mx-auto">
        <h1 class="text-4xl font-bold">
            <span transition:name="skills-title"> Skills</span>
        </h1>
    </div>
    <div class="flex grow flex-col gap-[3rem] text-xl">
        <div class="flex w-full justify-center gap-3">
            {
                sorts.map((selected) => {
                    const active = selected.path === path;
                    return (
                        <div class="flex flex-col">
                            <span
                                class:list={[
                                    active && "bg-skin-primary",
                                    "rounded-full p-1 px-3",
                                ]}
                            >
                                <a href={pathPrefix + selected.path}>
                                    {selected.label}
                                </a>
                            </span>
                        </div>
                    );
                })
            }
        </div>

        <slot />
    </div>
</section>
