---
interface Props {
    path: string;
}
const { path = "/all" } = Astro.props;

const pathPrefix = "/skills";
const sorts = [
    {
        label: "All",
        path: "/all",
    },
    {
        label: "Love/Like",
        path: "/lovelikemeh",
    },
    {
        label: "Pro/Hobby",
        path: "/prohobby",
    },
];
---

<section
    class="flex w-full grow flex-col justify-center gap-10 bg-pink-800 bg-gradient-to-bl from-black to-purple-950 py-10 align-middle"
>
    <div class="mx-auto">
        <h1 class="text-4xl font-bold">
            <span transition:name="skills-title"> Skills</span>
        </h1>
    </div>
    <div class="flex grow flex-col gap-[3rem] text-xl">
        <div class="flex w-full justify-center gap-3">
            {
                sorts.map((selected) => {
                    return (
                        <span
                            class:list={[
                                selected.path === path &&
                                    "text-sky-300 underline",
                            ]}
                        >
                            <a href={pathPrefix + selected.path}>
                                {selected.label}
                            </a>
                        </span>
                    );
                })
            }
        </div>

        <slot />
    </div>
</section>
