---
import Layout from "./Layout.astro";

const { title = "Blingusblongus" } = Astro.props;
---

<Layout title={title} transition:name="test-title">
    <div class:list={["mx-auto max-w-2xl px-3 sm:w-5/6"]}>
        <article
            class="prose prose-invert lg:prose-lg prose-headings:mt-[3rem] prose-a:text-gray-400 hover:prose-a:text-sky-300"
        >
            <slot />
        </article>
    </div>
</Layout>
